body {
    background-color: #F0F0F0;
    margin: 0;
    height: 100vh;
}

nav {
    background-color: #f8f9fa;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}


.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.button-container button {
    background-color: #857e7e; /* Off state */
    color: black;
}

.button-container button.active {
    background-color: #4CAF50; /* On state */
    color: white;
}

.middle-container button {
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.home-stat-box {
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-pie-chart {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 56px 100px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.home-line-chart {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 56px 100px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#home-stat-box-first-line {
    font-size: 25px;
}

#home-stat-box-second-line {
    font-size: 30px;
}

#home-stat-box-third-line {
    font-size: 25px;
}

#home-stat-box-fourth-line {
    font-size: 25px;
}

#home-stat-box-fifth-line {
    font-size: 25px;
}